.button {
  border: 1px solid var(--color-border-default);
  background: var(--color-bg-surface);
  color: var(--color-text-primary);
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 14px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.55;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: var(--color-hover-beige);
  }
}

.primary {
  background: var(--color-bg-inverse);
  color: var(--color-text-inverse);
  border-color: var(--color-bg-inverse);
}

.link {
  border: none;
  background: transparent;
  color: var(--color-text-primary);
  padding: 0;
  font-size: 14px;
  text-decoration: underline;
  border-radius: 0;
  transition: font-style 0.15s ease-in-out;

  &:not(:disabled):hover {
    font-style: italic;
    background-color: transparent;
  }
}

.default {
  height: 32px;
  border-radius: 12px;
  border: 1px solid var(--color-border-default);
  color: var(--color-text-primary);
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 400;

  &:not(:disabled):hover {
    background-color: var(--color-hover-beige);
  }
}

.icon {
  width: 34px;
  height: 34px;
  padding: 0;
  display: grid;
  place-items: center;
}

.minimal {
  border: none;
  background: transparent;
  padding: 0;
}
