@use "./colors";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;

  color: var(--color-text-primary);
  background: var(--color-bg-app);
  transition: background-color 160ms ease, color 160ms ease;
}
